
<mat-grid-list cols="2" rowHeight="1rem">
  <mat-grid-tile>Tasks</mat-grid-tile>
  <mat-grid-tile>To Do List</mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="2" rowHeight="1:1">
  
  <mat-grid-tile id="task">
    
    <div cdkDropList class="example-list col-md-6" (cdkDropListDropped)="drop($event)" >
     
     <div class="example-box" *ngFor="let task of task;let i =index" cdkDrag >
      <input type="checkbox" id="{{task+i}}" name="{{task+i}}" value="{{task}}" (change)="eventCheck($event,i)"/>
       <span>{{task}}</span>
      </div>
    </div>
  </mat-grid-tile>
   
  <mat-grid-tile >
 
    <div cdkDropList class="example-list col-md-6" (cdkDropListDropped)="drop($event)" >
      <div class="example-box-selected" *ngFor="let taskdata of tasksSelected" cdkDrag >
     <span>{{taskdata}}</span>
      </div>
    </div>
  </mat-grid-tile>
  
</mat-grid-list>
