
<mat-grid-list cols="2" rowHeight="1rem">
  <mat-grid-tile>Tasks</mat-grid-tile>
  <mat-grid-tile>To Do List</mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="2" rowHeight="1:1">
  
  <mat-grid-tile id="movies">
    
    <div cdkDropList class="example-list col-md-6" (cdkDropListDropped)="drop($event)" >
     
     <div class="example-box" *ngFor="let movie of movies;let i =index" cdkDrag >
      <input type="checkbox" id="{{movie+i}}" name="{{movie+i}}" value="{{movie}}" (change)="eventCheck($event,i)"/>
       <span>{{movie}}</span>
      </div>
    </div>
  </mat-grid-tile>
   
  <mat-grid-tile >
 
    <div cdkDropList class="example-list col-md-6" (cdkDropListDropped)="drop($event)" >
      <div class="example-box-selected" *ngFor="let movie of moviesSelected" cdkDrag >
     <span>{{movie}}</span>
      </div>
    </div>
  </mat-grid-tile>
  
</mat-grid-list>
